* {
  margin: 0;
  padding: 0;
}

html, body {
  /*background: #000;*/
  height: 100%;
  overflow: auto;
}

* {
      padding: 0;
      margin: 0;
      -webkit-user-select: none;
      user-select: none;
      color: #333;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: normal;
      text-decoration: none;
      outline: none;
      cursor: default;
    }
    #page-1 { background-color: #fff; }
    #page-2 { background-color: #fff; }
    #page-3 { background-color: #fff; }
    .page { text-align: center; margin-top: 60px; }
    h1 {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 32px;
      color: #555;
    }
    h1 strong {
      font-size: 32px;
      font-weight: bold;
      color: #555;
    }
    button {
      border: none;
      padding: 10px 40px;
      background-color: #FFF;
      color: #555;
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
    button:active, .btn:active, .btn:active a {
      -webkit-transform: translate(0, 3px);
      transform: translate(0, 3px);
      box-shadow: none;
    }

.page {
  /*height: 100%;
  overflow: scroll;*/
  position: absolute;
  display: none;
  width: 100%;
}

.current-page {
  display: block;
  z-index: 1;
}

/* ISA Styles */
.backpic1 {
  background-image: url("../img/decor-thumb-1.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  border-bottom: 4px solid #fff;
}

.backpic2 {
  background-image: url("../img/decor-thumb-2.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  border-bottom: 4px solid #fff;
}

.backpic3 {
  background-image: url("../img/decor-thumb-3.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  border-bottom: 4px solid #fff;
}

.backpic4 {
  background-image: url("../img/decor-thumb-4.jpg");
  background-repeat: no-repeat;
  background-position: left top;
}

body {
  max-height: 1024px;
}
.col-md-6.logocont {
    margin-top: 10px;
}

.col-md-6.navcont {
  text-align: right;
}

.col-xs-4.logocont {
  margin-top: 3px;
}

.container-fluid {
  margin: 0 !important;
}

.desctable td {
  vertical-align: top;
}

.fa-stack-2x {
  color: #0060a4;
}

.fleft {
  float: left;
}

.mainpic {
  margin: 0 auto;
  /*max-height: 970px;*/
}

.inlinehead {
  display: inline-block;
}

.logoimg {
  height: 40px;
}

.lthead {
  margin: 0;
}

/*.maincontent, .maincontainer, .mainpic {
    height: auto;
}*/

#mainpic1 {
  background-image: url('../img/Decor White Background.jpg');
  background-size: cover;
  padding: 0 !important;
  height: auto;
}

#mainpic2 {
  background-image: url('../img/Hospitality White Background.jpg');
  background-size: cover;
  padding: 0 !important;
  height: auto;
}

#mainpic2 {
  background-image: url('../img/Retail White Background.jpg');
  background-size: cover;
  padding: 0 !important;
  height: auto;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd !important;
}

.navbar-default .navbar-toggle {
    background-color: #f8f8f8 !important;
    border-color: #ddd !important;
}

#navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

p {
    margin: 0 0 30px !important;
}

.thumb1 {
    min-height: 250px;
    width: 100%
}

.topmenu {
    position: fixed;
    background-color: #fff;
    height: 46px;
    width: 100%;
    z-index: 999;
}

.textcol {
  text-align: left;
}

.text-primary {
    color: #fff !important;
    margin-top: -1px !important;
}

ul#navlist {
    margin-top: 11px;
}

ul#navlist li a {
    color: #0060a4;
    font-weight: bold;
}

ul#navlist li a:hover {
    color: #900;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    ul#navlist {
      position: fixed;
      right: -2px;
    }
}

@media only screen and (max-width: 767px) {
    .backpic1 {
      background-position: center;
    }

    .backpic2 {
      background-position: center;
    }
    ul#navlist {
      position: fixed;
      right: -2px;
    }
    ul#navlist li a {
      font-size: 12px;
    }
}